<div *ngIf="parents" class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parent of parents">
        <td>{{parent.fullName}}</td>
        <td><a href="tel:{{parent.phone}}">{{parent.phone}}</a></td>
        <td><a href="mailto:{{parent.email}}">{{parent.email}}</a></td>
        <td>
          <button (click)="goToParent(parent.$key)" class="btn btn-default">More Info</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="changeState('add')" class="btn btn-default">Add Parent</button>
</div>

<div *ngIf="appState == 'add'">
  <div class="container">
      <h1>Parent Form</h1>
      
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="parent">
        
        <div class="form-group">
          <label>First Name</label>
          <input 
            class="form-control" 
            type="text" 
            placeholder="First name" 
            formControlName="firstName">
        </div>
        
        <div
          class="error"
          *ngIf="parent.get('firstName').hasError('required') && parent.get('firstName').touched">
          First name is required
        </div>
        
        
        <div class="form-group">
          <label>Last Name</label>
          <input 
            class="form-control" 
            type="text" 
            placeholder="Last name"
            formControlName="lastName">
        </div>
        
        <div
          class="error"
          *ngIf="parent.get('lastName').hasError('required') && parent.get('lastName').touched">
          Last name is required
        </div>
        
        <div class="form-group">
          <label>Phone</label>
          <input 
            class="form-control" 
            type="text" 
            placeholder="Phone number"
            formControlName="phone">
        </div>
        
        <div
          class="error"
          *ngIf="parent.get('phone').hasError('required') && parent.get('phone').touched">
          Phone number is required
        </div>

        <div class="form-group">
          <label>Email</label>
          <input 
            class="form-control" 
            type="text" 
            placeholder="Email address"
            formControlName="email">
        </div>
        
        <div
          class="error"
          *ngIf="parent.get('email').hasError('required') && parent.get('email').touched">
          Phone number is required
        </div>
        
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="parent.invalid">Create Parent</button>
        
        <button class="btn btn-default"
          (click)="changeState('default')">Cancel</button>  
      
      </form>
      <pre>
{{parent.value | json}}
      </pre>
  </div>
</div>
