<div class="container">
  <div class="col-8">
    <h1>Create new Parent</h1>
    <form>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" required>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" required>
      <br>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" required>
      <label for="email">Email:</label>
      <input type="text" id="email" required>
      <button type="button" class="btn btn-default" (click)="newParent()">New Parent</button>
    </form>
  </div>
</div>
