<div *ngIf="students" class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Parent</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parent of parents">
        <td>{{parent.fullName}}</td>
        <td><a href="tel:{{parent.phone}}">{{parent.phone}}</a></td>
        <td><a href="mailto:{{parent.email}}">{{parent.email}}</a></td>
        <td>
          <button (click)="goToParent(parent.$key)" class="btn btn-default">More Info</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="changeState('add')" class="btn btn-default">Add Parent</button>
</div>

<!--<div *ngIf="appState == 'add'">-->
  <div class="container">
    
    <form novalidate (ngSubmit)="onSubmit(student)" [formGroup]="student">
      
      
      <div class="form-group">
        <label>First Name</label>
        <input 
          class="form-control" 
          type="text" 
          placeholder="First name" 
          formControlName="firstName">
      </div>
      
      <div
        class="error"
        *ngIf="student.get('firstName').hasError('required') && student.get('firstName').touched">
        First name is required
      </div>
      
      
      <div class="form-group">
        <label>Last Name</label>
        <input 
          class="form-control" 
          type="text" 
          placeholder="Last name"
          formControlName="lastName">
      </div>
      
      <div
        class="error"
        *ngIf="student.get('lastName').hasError('required') && student.get('lastName').touched">
        Last name is required
      </div>
      
      
      <div class="form-group">
        <div class="input-group">
          <input 
            class="form-control" 
            placeholder="yyyy-mm-dd"
            ngbDatepicker 
            #d="ngbDatepicker"
            formControlName="birthDate">
          <div class="input-group-addon" (click)="d.toggle()" >
            <!--<img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>-->
          </div>
        </div>
      </div>
      
      <div
        class="error"
        *ngIf="student.get('birthDate').hasError('required') && student.get('birthDate').touched">
        Date is required
      </div>
      
      
      <div class="form-group">
        Gender
        <div ngbRadioGroup>
          <label class="btn btn-primary">
            <input formControlName="gender" type="radio" value="male">Male
          </label>
          <label class="btn btn-primary">
            <input formControlName="gender" type="radio" value="female">Female
          </label>
        </div>
      </div>
      
      <div
        class="error"
        *ngIf="student.get('gender').hasError('required') && student.get('gender').touched">
        Gender is required
      </div>
      
      
      <div class="form-group">
        <label>Parent</label>
        <select 
          class="form-control" 
          id="parent"
          formControlName="parent">
          <option *ngFor="let parent of parents$ | async" value="{{parent.uid}}">{{parent.fullName}}</option>
        </select>
      </div>
      
      <div
        class="error"
        *ngIf="student.get('parent').hasError('required') && student.get('parent').touched">
        Parent is required
      </div>
      <button [disabled]="student.invalid" class="btn btn-primary" type="submit">Create student</button>
    

    </form>
    
    
    <pre>
{{student.value | json}}
    </pre>
  </div>
<!--</div>-->